Hello {{invitee.firstName}},

{{inviter.firstName}} {{inviter.lastName}} has invited you to join the {{publisher.name}} organization.

Please follow the link below to accept this invitation. If you do not wish to accept the invitation, simply do nothing.

{{invitationActivationUri}}


Happy Cloudsteading!


The Cloudstead App Store Team
