<?xml version="1.0" encoding="UTF-8"?>

<beans xmlns="http://www.springframework.org/schema/beans"
       xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance"
       xmlns:context="http://www.springframework.org/schema/context"
       xmlns:tx="http://www.springframework.org/schema/tx"
       xmlns:aop="http://www.springframework.org/schema/aop"
       xsi:schemaLocation="http://www.springframework.org/schema/beans http://www.springframework.org/schema/beans/spring-beans-3.0.xsd
        http://www.springframework.org/schema/context http://www.springframework.org/schema/context/spring-context-3.0.xsd
		http://www.springframework.org/schema/tx http://www.springframework.org/schema/tx/spring-tx.xsd
		http://www.springframework.org/schema/aop http://www.springframework.org/schema/aop/spring-aop.xsd">

    <context:annotation-config/>

    <aop:config proxy-target-class="true"/>
    <tx:annotation-driven/>

    <!-- DB-related beans (dataSource, sessionFactory, hibernateTemplate, etc) -->
    <context:component-scan base-package="org.cobbzilla.wizard.spring.config.rdbms"/>

    <!-- core domain model -->
    <context:component-scan base-package="cloudos.appstore.model"/>

    <!-- jersey resources, DAOs -->
    <context:component-scan base-package="cloudos.appstore.dao">
        <!-- Mock out AppListingDAO, so AppStoreQueryIT and other tests can easily manipulate the published apps -->
        <context:exclude-filter type="regex" expression="cloudos.appstore.dao.AppListingDAO" />
    </context:component-scan>
    <bean class="cloudos.appstore.mock.MockAppListingDAO"/>

    <context:component-scan base-package="cloudos.appstore.auth"/>
    <context:component-scan base-package="cloudos.appstore.resources"/>

    <!-- validator -->
    <bean id="uniqueValidator" class="org.cobbzilla.wizard.validation.UniqueValidator"/>

    <!-- Mock templated mail sender -->
    <bean class="org.cobbzilla.mail.sender.mock.MockTemplatedMailService"/>

</beans>
